<div class="panel panel-primary">
  <div class="panel-heading">
    Your profile
  </div>

  <div class="panel-body">
    <p>First Name: <%= @profile.first_name%></p>
    <p>Prefix: <%= @profile.prefix%></p>
    <p>Last Name: <%= @profile.last_name%></p>
    <p>Street Name: <%= @profile.street_name%></p>
    <p>House Number: <%= @profile.house_number%></p>
    <p>House Number Addition: <%= @profile.house_number_addition%></p>
    <p>Zip Code: <%= @profile.zip_code%></p>
    <p>City: <%= @profile.city%></p>
    <p>Phone Number: <%= @profile.phone_number%></p>

  </div>
