<div class="banner">
  <div class="banner-text">
    <div class="layer">
      <h1><%= @department.name %></h1>
      <p><%= @department.description %></p>
    </div>
  </div>
</div>
<div class="container departments">
  <div class="row">
    <div class="col-md-12">
      <%= render 'partials/sorting' %>
    </div>
  </div>
  <div class="row">
    <% @department_products.each do |product| %>
      <div class="col-md-4">
        <% if !(product.image_url.nil? )%>
          <%= image_tag product.image_url %>
        <% end %>
        <h2><%= link_to product.name, product_path(product) %></h2>
        <p>&euro; <%= product.price %></p>
        <% if !product.availability %>
        <h4>Out of stock</h4>
        <% end %>
        <button type="button" class="btn btn-warning">
         <%= link_to "More info", product_path(product) %>
        </button>
      </div>
    <% end %>
  </div>
  <%= link_to "[Edit Department information]", edit_department_path(@department.id) %>
  <%= link_to "[Delete]", department_path(@department.id), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
