<h1><%= @department.name %></h1>
<p><%= @department.description %></p>

<ul>
  <% @department.products.each do |product| %>
  <li>
    <h3><%= link_to product.name, product_path(product) %></h3>
    <p><%= product.description %></p>

    <p>&euro; <%= product.price %></p>

    <% if !(product.image_url.nil? )%>
    <%= image_tag product.image_url %>
    <% end %>

    <% if !product.availability %>
    <h4>Out of stock</h4>
    <% end %>

  </li>
  <% end %>
</ul>

<%= link_to "[Edit Department information]", edit_department_path(@department.id) %>
<%= link_to "[Delete]", department_path(@department.id), method: :delete, data: { confirm: "Are you sure?" } %>
