<h1>Shopping Cart</h1>
<table class="table table-striped table-hover">
  <thead class="thead-inverse">
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Total</th>
  </thead>
  <tbody>
    <% @price_total = [] %>
    <% @shopping_cart.items.each do |product, quantity| %>
      <% product_total_price = Product.find(product).price * quantity %>
      <% @price_total << product_total_price  %>

          <tr>
            <td><%= Product.find(product).name %></td>
            <td><%= quantity %></td>
            <td><%= Product.find(product).price %></td>
            <td><%= product_total_price%></td>
          </tr>
    <% end %>
    <thead>
      <td ><strong>Total</strong></td>
      <td></td>
      <td></td>
      <td><strong><%=@order_total%></strong></td>
      <td colspan="2">&nbsp;</td>

    </thead>
  </tbody>
</table>

<%= link_to "Place order", user_orders_path, method: :post, class: "btn btn-success" %>
