<%= form_for @product, html: { multipart: true } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <label>Photos</label>

<div class="form-group">
  <span class="btn btn-default">
    Upload Photos
    <%= file_field_tag "images[]", type: :file, multiple: false %>
  </span>
</div>

<div id="photos">
  <%= render @product.photo %>
</div>

  <%= f.submit (@product.new_record? ? "Create" : "Update") %>
<% end %>
