<div class="container-fluid">
    <div class="content-wrapper">
		<div class="item-container">
			<div class="container">
				<div class="col-md-12">
					<div class="col-md-5">
            <% @product.photos.each do |photo| %>
              <%= image_tag photo.image.medium, class:"product-image" %>
            <% end %>
          </div>

				<div class="col-md-7">
					<div class="product-title"><h2><%= @product.name %></h2></div>
					<div class="product-desc"><%= @product.description %></div>
					<hr>
					<div class="product-price">&euro; <%= @product.price %></div>
					<div class="product-stock">
            <% if @product.availability %>
              In stock
            <% else %>
              Out of stock
            <% end %>
          </div>
					<hr>
					<div>
						<button type="button" class="btn btn-warning">
							<%= link_to "Add to cart", add_item_path(product_id: @product.id, quantity: 1, department_id: params[:department_id]) %>
						</button>
            <button type="button" class="btn btn-secondary">
							<%= link_to "Edit", edit_department_product_path(@product.department, @product) %>
						</button>
            <button type="button" class="btn btn-secondary">
							<%= link_to "Delete", department_product_path(@product.department.id, @product.id), method: :delete, data: { confirm: "Are you sure?" } %>
						</button>
          </div>
				</div>
			</div>
		</div>
	</div>
</div>
