<h1><%= @product.name %></h1>
<p><%= product.description %></p>
<p><%= product.reference_number %></p>
<p>&euro; <%= product.price %></p>

<ul>
  <li>

    <% if !(product.image_url.nil? )%>
    <%= image_tag product.image_url %>
    <% end %>

    <% if !(product.video_url.nil?) %>
    <%= video_tag product.video_url %>
    <% end %>

    <% if !product.availability %>
    <h4>Out of stock</h4>
    <% end %>

  </li>
  <% end %>
</ul>

<%= link_to "[Edit Product Info]", edit_product_path(@product.id) %>
